[submodule "external"]
	path = external
	url = git@github.com:San-tito/get_next_line.git
[submodule "libs/libftprintf"]
	path = libs/libftprintf
	url = git@github.com:San-tito/ft_printf.git
[submodule "libs/minilibx"]
	path = libs/minilibx
	url = https://github.com/42Paris/minilibx-linux.git
